# -*- coding: utf-8 -*-
"""
Created on Tue May  5 12:57:56 2020

@author: SimonZIVY
"""


.perso {

}

.perso h2{
    color: green;
    padding-top: 1px;
    margin-left: 2%;
    display: inline-block;
}

.perso Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}